<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Revisão
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>
    <ion-input 
      [(ngModel)]="n1"
      label="Primeiro Número" 
      labelPlacement="floating" 
      placeholder="Digite o primeiro valor">
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
    [(ngModel)]="n2" 
      label="Segundo Número" 
      labelPlacement="floating" 
      placeholder="Digite o Segundo valor">
    </ion-input>
  </ion-item>

  <ion-button expand="block" (click)="somar()" colo="danger">Somar</ion-button>
  <ion-button expand="block" (click)="subtrair()">Subtrair</ion-button>
  <ion-button expand="block" (click)="multiplicar()">Multiplicar</ion-button>
  <ion-button expand="block" (click)="dividir()">Dividir</ion-button>

  <ion-label>{{res}}</ion-label>
</ion-content>
